{% extends 'accounts/main.html' %}

{% block content %}
<h2>Sales Records</h2>
<form action="" method="get">
  {{myFilter.form}}
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<table>
    <tr>
      <th>Product Name</th>
      <th>Quantity Sold</th>
      <th>Date</th>
      <th>Update Sale</th>
      <th>Delete Sale</th>
    </tr>
    {% for i in sales %}
    <tr>
        <td>{{i.product}}</td>
        <td>{{i.quantity_sold}}</td>
        <td>{{i.date_made}}</td>
        <td><a class="btn btn-sm btn-info" href="{% if i.id %}{% url 'updatesale' i.id %}{% endif %}">Update</a></td>

        <td><a class="btn btn-sm btn-danger" href="{% if i.id %}{% url 'deletesale' i.id %}{% endif %}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}